.services-section {
  overflow: hidden;
  color: white;
  /* fallback for old browsers */
  background: url("../../../public/images/chairs.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-weight: bold;
  }
  p {
    font-weight: bolder;
  }
  .overlay {
    background-color: rgb(0 0 0 / 48%);
    .services {
      img {
        height: 60px;
        width: 60px;
      }
    }
  }
}
