.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  .total {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background: white;
    border-radius: 3px;

    h3 {
      font-weight: bold;
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
    strong {
      color: #2883b9;
    }
    button {
      background-color: #2883b9;
      border: 0.5px solid #2883b9;
    }
  }
}

.total > h2 {
  font-weight: 400;
}

.total__p {
  font-size: 20px;
  font-weight: 450;
  color: rgb(72, 77, 77);
}

.total > button:active {
  background-color: unset;
  border: 1px solid #ffd814;
}

@media (max-width: 800px) {
  .total {
    width: unset;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .total {
    min-width: unset;
  }
}
