.title-text {
  background-color: #ff9a1e;
  padding: 32px;
  span {
    font-weight: 800;
  }
  h1 {
    font-weight: 900;
    margin-top: 15px;
    color: white;
  }
  p {
    color: white;
  }
  .reserve {
  }
  button {
    background-color: #2d2d2d;
    border: #2d2d2d;
    border-radius: 20px;
  }
}
.reserve-img {
  background: url("../../../public/images/reserve.jpg") center center no-repeat;
  background-size: cover;
  height: 339px;
}
