.home-page {
  .home {
    background-color: #bcd9b2;

    a {
      img {
        height: 60px;
      }
    }
    .navbar-nav {
      .nav-link {
        font-size: 1.1rem;
        font-weight: bolder;
      }
    }
  }
}
