.home-page {
  .home {
    background-color: rgb(188 217 178);

    a {
      img {
        height: 60px;
      }
    }
    .navbar-nav {
      .nav-link {
        font-size: 1.1rem;
        font-weight: bolder;
      }
      .nav-link:hover {
        text-decoration: underline;
        color: #ff9a1e;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .home-page {
    .home {
      a {
        img {
          height: 45px;
        }
      }
    }
  }
}
