.register {
  //   background-color: #013243;
}
.col-12 input {
  width: 50vh;
  border-radius: 12px;
}
.member-signup button {
  width: 50vh;
  border-radius: 12px;
}
.header {
  padding-top: 32px;
}

.main {
  //   margin-top: 100px;
  font-family: "Fredoka", sans-serif;
}
.header h2 {
  color: #c7d3d7;
  margin-bottom: 30px;
}
.header span {
  color: #94afbb;
}
.label {
  color: #d2c7d1;
}

Button {
  color: #f2f2f2;
}
