.col-12 input {
  width: 50vh;
  border-radius: 12px;
}
.login button {
  width: 50vh;
  border-radius: 12px;
}

.member-signup {
  padding-bottom: 32px;
}
.main {
  //   margin-top: 100px;
  font-family: "Fredoka", sans-serif;

  // .login-card {
  //   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  //   border: 1px solid black;
  // }
}
.header h2 {
  color: #c7d3d7;
  margin-bottom: 30px;
}
.header span {
  color: #94afbb;
}
.label {
  color: #d2c7d1;
}
.label Link {
  margin-bottom: 5px;
}
Button {
  color: #f2f2f2;
}
.header img {
  height: 60px;
}
