.test {
  // background-image: url("../../../../public/images/wave.png");
  // background-size: cover;
  // background-repeat: no-repeat;

  background-image: linear-gradient(
    to bottom,
    #0e2439,
    #123049,
    #153c5a,
    #16496b,
    #16567c,
    #16567c,
    #16567c,
    #16567c,
    #16496b,
    #153c5a,
    #123049,
    #0e2439
  );
  .back-pic {
  }

  .banner-content {
    .banner {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;

      .text-detail {
        animation: 2s slide-right;
        h1 {
          font-weight: bolder;
          font-size: 2.6rem;
          margin-bottom: 20px;
          color: white;
          // text-transform: uppercase;
          span {
            // color: #724f4f;

            color: rgb(255 82 82 / 81%);
          }
        }
        p {
          font-weight: bold;
          font-size: 1rem;
          color: #ffffff;
        }
      }
      @keyframes slide-right {
        from {
          margin-left: -100%;
        }
        to {
          margin-left: 0%;
        }
      }
      button {
        // background-color: #ff9a1e;
        background-color: #255e81;
        border: none;
        border-radius: 18px;
        a {
          text-decoration: none;
          color: #ffff;
          span {
            font-size: 1rem;
            font-weight: bold;
          }
        }
      }
      .info-image {
        .ban-img,
        .ban-box {
          animation: 2s slide;
        }

        .item-two {
          img {
            width: 100%;
            position: absolute;
            top: 19%;
            left: 17%;
            height: 254px;
          }
        }

        .ban-img {
          position: absolute;
          top: 3%;
          left: 68%;
          /* transform: translate(-50%, -50%); */
          height: 315px;
          width: 245px;
          border-radius: 400px 400px 0 0;
          // background-color: #ff9a1e;
          background-color: #255e81;
        }
        .ban-box {
          position: absolute;
          top: 3%;
          left: 66%;
          /* transform: translate(-50%, -50%); */
          height: 315px;
          width: 245px;
          border-radius: 400px 400px 0 0;
          // border: 1.7px dashed #ff9a1e;
          border: 1.7px dashed #255e81;
        }
        .item-one {
          img {
            position: absolute;
            top: 13%;
            left: -52%;
            height: 125px;
            width: 100%;
            object-fit: contain;
          }
        }
        .item-three {
          img {
            position: absolute;
            left: 58%;
            height: 130px;
            width: 100%;
            object-fit: contain;
          }
        }
      }
      @keyframes slide {
        from {
          margin-left: 100%;
        }
        to {
          margin-left: 0%;
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .banner-content {
    height: 120vh;
  }
  .info-image {
    position: absolute;
    right: 41%;
    top: 10%;
    .ban-box {
      .item-one {
        img {
          position: absolute;
          top: 13%;
          left: -52%;
          height: 101px;
          width: 100%;
          object-fit: contain;
        }
      }
      .item-three {
        img {
          position: absolute;
          left: 58%;
          height: 105px;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
@media only screen and (min-width: 569px) and (max-width: 767px) {
  .test {
    .banner-content {
      height: 119vh;
      .banner {
        .info-image {
          position: absolute;
          top: 5%;
          left: -44%;
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .test {
    .banner-content {
      .banner {
        .info-image {
          .ban-img {
            position: absolute;
            left: 63%;
          }
          .ban-box {
            position: absolute;
            left: 58%;
          }
        }
      }
    }
  }
}
