.offers {
  background-image: url("https://img.freepik.com/free-photo/baked-chicken-wings-asian-style-tomatoes-sauce-plate-top-view-copyspace_2829-17200.jpg?w=826&t=st=1672118663~exp=1672119263~hmac=cbf1e09779932b803b1f58c367aa7afc1b8234b2da6dfce5fc7df5a64480ff69");
  background-repeat: no-repeat;
  background-size: 100% auto;

  h3 {
    font-size: 1.1rem;
    // color: #ff9a1e;
    color: #2883b9;
    text-transform: uppercase;
    font-weight: bold;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  button {
    // background-color: #ff9a1e;
    background-color: #2883b9;
    border: none;
  }
}

@media only screen and (max-width: 568px) {
  .offers {
    background-size: 100% 77%;
  }
}
